* {
	box-sizing: border-box;
}

body {
	background: #383838;
	padding: 0px;
	margin: 0px;
	font-family: "Poppins";
	color: white;
}

h1,h2 {
  font-family: "Archivo", sans-serif;
  color: #FF5666 ;
}

h1.display {
	font-family: "Rubik", sans-serif;
	font-size: 60px;
}

p {
  font-family: "Poppins", sans-serif;
}

a {
	color: #E0CA3C;
	text-decoration: none;
	transition: 0.5s;
}

a:hover {
	color: #FF5666;
}

.header {
	width: 100%;
	height: 86.9878vh;
	margin: 0px;
  position: relative;
	background:url('images/landing-page.jpg') fixed center/cover;
}

.header.content {
  padding: 100px 0px 200px 200px;
}

.header.content h1{
	margin: 5px;
	color: #E0CA3C;
}

.header.content p {
	color: white;
	margin: 5px;
}

.nav{
    list-style:none;
    margin:0;
    padding:25px;
    text-align:center;
    background-color: #303030;
    position: sticky;
    top: 0;
}
.nav li{
    display:inline;
    padding: 50px;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: white;
}

.nav a:hover {
	color: #E0CA3C;
}


.strip-a {
	width: 100%;
	background: #383838;
	padding: 10% 15%;
	text-align: left;
}

.strip-b {
	width: 100%;
	background: #454545;
	padding: 10% 15%;
	text-align: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.arrow {
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: white;
  border-width: 0px 1px 1px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  position: absolute;
  bottom: 80px;
  margin: auto;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-strip {
  position: absolute;
  left: 0px;
  width: 100%;
  background-color: inherit;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.full-strip > div.card {
  width: 31%;
  margin: 10px;
  background-color: #505050;
  border-radius: 5px;
  box-shadow: 0px 0px 15px #303030;
  transition: 0.3s;
}

.full-strip > div.card:hover {
  border: solid grey;
  box-shadow: 0px 0px 20px #151515;
}

.full-strip > div.card img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
